*.o
*.d
*.pc
*.a
ffmpeg-4.2/ffmpeg
ffmpeg-4.2/ffmpeg_g
ffmpeg-4.2/ffplay
ffmpeg-4.2/ffplay_g
ffmpeg-4.2/ffprobe
ffmpeg-4.2/ffprobe_g
ffmpeg-4.2/libavcodec/libavcodec.version
ffmpeg-4.2/libavdevice/libavdevice.version
ffmpeg-4.2/libavfilter/libavfilter.version
ffmpeg-4.2/libavformat/libavformat.version
ffmpeg-4.2/libavutil/libavutil.version
ffmpeg-4.2/libswresample/libswresample.version
ffmpeg-4.2/libswscale/libswscale.version
report.json.bz2
